.article-content{
  h5{
    margin-bottom: 0;
    padding-top: rem(10);
    padding-bottom: rem(18);
  }
  h6{
    font-weight: 600;
    margin-bottom: 0;
    padding-top: rem(10);
    padding-bottom: rem(18);
  }
  p, .ce-paragraph{
    margin-bottom: 1rem;
  }
  ul, ul > li {
    padding-left: 0;
    list-style-type: none;
  }
  ol, ol > li {
    padding-left: 0;
  }
  ol > li{
    margin-left: 1.2em;
  }
  ul > li::before{
    content: '\2022';

    margin-right: .4rem;
    text-align: right;

    font-size: 1.6em;
    color: inherit;
    line-height: 1;
    position: relative;
    top: .15em;
  }
  .image-tool__image{
    text-align: center;
  }
  img{
    border-radius: 15px;
    max-width: 100%;
    height: auto;
  }
  .ql-align-center{
    text-align: center;
  }
  .ql-size-small{
    font-size: $small-font-size;
  }
  .cdx-button{
    display: none;
  }
  .image-tool__caption{
    text-align: center;
  }
  .image-tool{
    padding-top: rem(10);
    padding-bottom: rem(20);
  }
  .cdx-quote{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    @include media-breakpoint-down(xs){
      flex-direction: column;
    }
    &__text{
      position: relative;
      border: 3px solid $blog_liter;
      border-radius: 15px;
      padding: 20px 20px 25px 33px;
      margin-bottom: .5rem;
      @include media-breakpoint-up(sm){
        margin-left: 19px;
        order: 2;
        max-width: 479px;
        margin-bottom: 6px;
      }
      &:before{
        @include media-breakpoint-up(sm){
          content: '';
          position: absolute;
          left: -25px;
          bottom: -3px;
          //background-color: white;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iMzMiIHZpZXdCb3g9IjAgMCA0NCAzMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNDEgMzEuNUg3LjU4NjM2QzYuNDE3MjUgMzEuNSA2LjA5NDIyIDI5LjQ4MyA3LjE2MzY0IDI5LjAxMDdDMjEuMzUxIDIyLjc0MzcgMjQgMTIuMDQ3MyAyNCA0IiBzdHJva2U9IiNGRjQ5MjEiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PHBhdGggZD0iTTQyLjUgMjkuNUwyNS42IDJMMjUuNSA3LjYyNjI5TDI1LjMgOS41TDI1IDExLjVMMjQuNCAxNEwyMy45IDE1LjVMMjMgMTcuNUwyMS41IDIwTDE3IDI5LjVINDIuNVoiIGZpbGw9IndoaXRlIiBzdHJva2U9IndoaXRlIi8+PC9zdmc+);
          background-repeat: no-repeat;
          background-position: left bottom;
          background-size: auto;
          width: 46px;
          height: 32px;
        }
      }
    }
    &__caption{
      color: $blog_liter;
      padding-right: 8px;
      @include media-breakpoint-up(sm){
        order: 1;
      }
    }
  }
  .cdx-list--ordered{
    padding-left: 1.2em;
    list-style: decimal;
    > li{
      &:before{
        content: none;
      }
      list-style: decimal;
    }
  }
}
.article-next{
  color: #FF4921 !important;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  display: inline-block;
  text-decoration: none!important;
  outline: none!important;
  br{
    @include media-breakpoint-down(md){
      display: none;
    }
    @include media-breakpoint-down(xs){
      display: block;
    }
  }
  &__one, &__two, &__full{
    position: relative;
    display: inline-block;
    padding-bottom: .13em;
    margin-bottom: .13em;
    &:before, &:after{
      content: attr(data-text);
    }
    &:before{
      position: relative;
      z-index: 1;
    }
    &:after{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      height: 100%;
      color: white !important;
      background: #FF4921 !important;
    }
  }
  &__one, &__two{
    @include media-breakpoint-down(md){
      display: none;
    }
    @include media-breakpoint-down(xs){
      display: inline-block;
    }
  }
  &__full{
    @include media-breakpoint-up(lg){
      display: none;
    }
    @include media-breakpoint-down(xs){
      display: none;
    }
  }
  &__one{
    &:after{
      transition: .4s .4s;
    }
  }
  &__two, &__full{
    &:after{
      transition: .4s;
    }
  }
  &:hover{
    .article-next{
      &__one, &__two, &__full{
        &:after{
          width: 100%;
        }
      }
      &__one{
        &:after{
          transition: .4s;
        }
      }
      &__two{
        &:after{
          transition: .4s .4s;
        }
      }
    }
  }
}
.article-logo{
  width: 115px;
  min-width: 115px;
  height: 115px;
  background: #FFFFFF;
  box-shadow: 0px 0px 9px rgba(216, 216, 216, 0.7);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: .3s;
  &__desc{
    margin-left: -15px;
    margin-right: -15px;
    transition: .3s;
  }
  &:hover{
    box-shadow: 0px 3px 19px rgba(216, 216, 216, 0.7);
  }
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}
