.btn{
  cursor: pointer;
}


.btn-gray{
  border: 1px solid #E4E4E4;
  background: #E4E4E4;
  position: relative;
  color: $body-color;
  transition: 0.2s ease;
  @include hover {
    color: $body-color;
    background: #C6C6C6;
    border-color: #C6C6C6;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.1rem rgba(#C6C6C6, 0.5);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: white;
    background: #484848;
    border-color: #484848;
    &:focus,
    &.focus {
      box-shadow: 0 0 0 0.1rem rgba(#484848, 0.5);
    }
  }
}

.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
