.card {
  border: 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 3px 11px rgba(216, 216, 216, 0.6);
  .card-body{
    position: relative;
    br{
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
  }
  .card-caption{
    position: absolute;
    z-index: 1;
    top: -1.2rem;
    right: 0;
    border-radius: 0 0 0 15px;
    background: #FF2E00;
    padding: 7px 15px;
    color: white;
    font-weight: 400;
  }
  .card-img-top{
    overflow: hidden;
    position: relative;
    &--error{
      display: none;
    }
    &__message{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.51);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-weight: 700;
      color: white;
      z-index: 20;
    }
    .embed-responsive{
      &:before{
        display: block;
        content: "";
        padding-top: percentageRate(324,131);
      }
    }
    .embed-responsive-item{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img{
      max-width: 100%;
      max-height: 100%;
      height: auto;
      &.card-img-top--no-error{
        &[lazy="error"]{
          display: none;
          & ~ {
            .card-img-top--error{
              display: block!important;
            }
          }
        }
      }
    }
    &__label{
      position: absolute;
      z-index: 10;
      border-radius: 0 0 15px 0;
      background: #FF2E00;
      padding: 7px 15px;
      color: white;
      font-weight: 700;
      &--present{
        padding: 0;
        width: 63px;
      }
    }
    &__cover, &__logo{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      transition: .1s linear;
    }
    &__cover{
      img{
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        height: auto;
        width: 100%;
      }
    }
    &__logo{
      &__wrapper{
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        min-width: 0;
        min-height: 0;
      }
    }
    &.error-logo{
      .card-img-top__logo__wrapper{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      img{
        &[lazy="error"]{
          min-width: 100%;
          min-height: 100%;
          max-width: none;
          max-height: none;
          height: auto;
          width: 100%;
        }
      }
    }
    &.with-logo{
      .card-img-top{
        &__logo{
          opacity: 0;
        }
      }
    }
    &.with-logo:not(.error-logo){
      &:hover{
        .card-img-top{
          &__cover{
            opacity: 0;
          }
          &__logo{
            opacity: 1;
          }
        }
      }
    }
  }
  .card-buttons{
    position: relative;
    display: flex;
    background-color: $card-cap-bg;
    border-radius: 0 0 $card-inner-border-radius $card-inner-border-radius!important;
    &:hover{
      .card-buttons__controls{
        z-index: 1000;
        padding-top: 14px;
        opacity: 1;
        pointer-events: auto;
      }
    }
    &__controls{
      position: absolute;
      display: flex;
      width: 100%;
      top: 100%;
      left: 0;
      color: white;
      justify-content: center;
      align-items: flex-end;
      transform-origin: center;
      z-index: -1000;
      padding-top: 34px;
      opacity: 0;
      pointer-events: none;
      transition: .2s ease;
      &__chevron{
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 12px;
        overflow: hidden;
        &:before{
          content: '';
          position: absolute;
          left: calc(50% - 9px);
          top: 4px;
          width: 17px;
          height: 17px;
          transform: rotate(45deg);
          transform-origin: center;
          border-top-left-radius: 4px;
          background: rgba(0, 0, 0, 0.8);
          transition: .2s ease;
        }
      }
      &__left, &__right{
        $width: 51px;
        width: $width;
        min-width: $width;
        height: $width;
        line-height: $width;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        transition: .2s ease;
        &:hover {
          background: rgba(0, 0, 0, 1);
        }
      }
      &__left{
        margin-right: rem(12);
      }
      &__delete{
        $width: 51px;
        position: relative;
        height: $width;
        line-height: $width;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        flex-grow: 1;
        cursor: pointer;
        transition: .2s ease;
        &:hover{
          background: rgba(0, 0, 0, 1);
          .card-buttons__controls__chevron{
            &:before{
              background: rgba(0, 0, 0, 1);
            }
          }
        }
      }
      &__right{
        margin-left: rem(12);
      }
    }
  }
  .card-btn{
    display: block;
    padding: rem(28) $card-spacer-x!important;
    height: auto!important;
    line-height: $line-height-base!important;
    border: none!important;
    text-align: left!important;
    box-shadow: none!important;
    outline: none!important;
    @include media-breakpoint-between(lg, lg){
      padding: 1rem!important;
    }
    &--full{
      flex: 0 0 100%;
      max-width: 100%;
      border-radius: 0 0 $card-inner-border-radius $card-inner-border-radius;
    }
    &--left{
      flex: 0 0 60%;
      max-width: 60%;
      border-radius: 0 0 0 $card-inner-border-radius;
      @include media-breakpoint-between(lg, lg){
        flex: 0 0 65%;
        max-width: 65%;
      }
    }
    &--right{
      flex: 0 0 40%;
      max-width: 40%;
      border-radius: 0 0 $card-inner-border-radius 0;
      @include media-breakpoint-between(lg, lg){
        flex: 0 0 35%;
        max-width: 35%;
      }
    }
  }
  &--empty{
    cursor: pointer;
    height: 100%;
    border: 1px dashed #929292;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    &:before, &:after{
      content: '';
      display: block;
      width: 97px;
      margin-left: -48px;
      margin-right: -48px;
      height: 2px;
      background: #929292;
    }
    &:after{
      margin-left: -49px;
      transform-origin: center;
      transform: rotate(90deg);
    }
  }
  &-footer{
    border-top: 0;
  }
  &--product{
    background: #FFFFFF;
    .card-body{
      textarea{
        border: none!important;
        box-shadow: none!important;
        outline: none!important;
        overflow: hidden;
        resize: none;
      }
    }
    .card-footer{
      display: flex;
      position: relative;
      &.active{
        .card-footer{
          &__address{
            z-index: 16;
          }
          &__wishlist{
            z-index: 16;
          }
          &__list-address{
            &__wrapper{
              z-index: 15;
            }
          }
        }
      }
      &__address{
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: calc(100% - 30px);
        position: relative;
        z-index: 12;
        &__wrapper{
          width: 100%;
        }
        &__text{
          white-space: nowrap;
          overflow: hidden;
          transition: .2s;
        }
        &__btn{
          white-space: nowrap;
          position: absolute;
          right: -1px;
          top: 50%;
          transform: translateY(-50%);
          box-shadow: -16px 0px 11px 0px rgba(255,255,255,1);
        }
      }
      &__wishlist{
        -webkit-box-flex: 0;
        flex: 0 0 30px;
        width: 30px;
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 12;
        color: $primary;
      }
      &__list-address{
        padding-top: 3rem;
        padding-bottom: .5rem;
        max-width: 100%;
        margin-bottom: 0;
        &__wrapper{
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          max-height: 3rem;
          margin-top: -3rem;
          z-index: 11;
          box-shadow: 0 14px 19px rgba(216, 216, 216, 0);
          border-radius:  0 0 15px 15px;
          background: white;
          overflow: hidden;
          pointer-events: none;
          transition: .4s;
          &.active{
            pointer-events: auto;
            box-shadow: 0 14px 19px rgba(216, 216, 216, 0.7);
          }
        }
        &__item{
          width: 100%;
          display: block;
          padding: rem(6) $card-spacer-x;
        }
        &__link{
          display: block;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    //.card-img-top{
    //  img{
    //    min-width: 100%;
    //    min-height: 100%;
    //    max-width: none;
    //    max-height: none;
    //    height: auto;
    //    width: 100%;
    //  }
    //  &__logo{
    //    img{
    //      max-width: 100%;
    //      max-height: 100%;
    //      height: auto;
    //      width: auto;
    //      min-width: 0;
    //      min-height: 0;
    //    }
    //  }
    //}
  }
}
