.confirm-modal{
  .swal2-modal{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 16em;
  }
  .swal2-content{
    color: white;
  }
  .swal2-actions{
    flex-direction: column;
    margin-top: 1rem;
  }
  &__btn-link{
    margin-top: .25rem;
    background: transparent;
    border: 0;
    border-bottom: 1px dashed white;
    color: white;
    padding: 0;
    outline: none!important;
    &:hover{
      border-color: transparent;
    }
  }
}
