.full-slider{
  position: relative;
  &__slider{
    height: 425px;
  }
  &__slide{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__placeholder{
    background: #8C8C8C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  &__preloader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .hooper-prev, .hooper-next{
    svg{
      display: none;
    }
    outline: none!important;
    box-shadow: none!important;
    width: 46px;
    height: 46px;
    padding: 0;
    @include media-breakpoint-down(lg){
      width: 40px;
      height: 40px;
    }
    @include media-breakpoint-down(md){
      width: 36px;
      height: 36px;
    }
    @include media-breakpoint-down(xs){
      width: 30px;
      height: 30px;
    }
    &:before, &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
      border-radius: 2px 0 0 2px;
    }
    &:after{
      transform-origin: right top;
      transform: rotate(-90deg);
    }
  }
  .hooper-prev{
    transform-origin: center;
    transform: translateY(-50%) translateX(50%) rotate(-135deg);
  }
  .hooper-next{
    transform-origin: center;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
  }
  .hooper-indicator{
    background: rgba(255, 255, 255, 0.5);
    &:hover, &.is-active{
      background: #FFFFFF;
    }
  }
}
