.icon-blog{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    right: rem(4);
    top: rem(7);
    width: 10px;
    height: 10px;
    opacity: 1;
    pointer-events: none;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTUuMjU2NDEgMEw2LjkyMzA4IDMuMDc2OTJMMTAgNC43NDM1OVY1LjI1NjQxTDYuOTIzMDggNi45MjMwOEw1LjI1NjQxIDEwSDQuNzQzNTlMMy4wNzY5MiA2LjkyMzA4TDAgNS4yNTY0MVY0Ljc0MzU5TDMuMDc2OTIgMy4wNzY5Mkw0Ljc0MzU5IDBINS4yNTY0MVoiIGZpbGw9IiNGRjJFMDAiLz48L3N2Zz4=);
    transition: .2s ease;
  }
  //&:hover{
  //  &:before{
  //    opacity: 1;
  //  }
  //}
}
