.list-item-icon{
  display: flex;
  margin-bottom: rem(20);
  &__icon{
    color: #B1B1B1;
    text-align: left;
    min-width: rem(39);
    svg{
      width: auto!important;
      height: auto!important;
    }
  }
}
.list-box{
  max-height: 306px;
  padding-top: 6px;
  &__wrapper{
    max-height: 300px;
    overflow: auto;
  }
}
