.map-point{
  position: relative;
  text-align: center;
  font-family: 'Open Sans', #{$font-family-sans-serif};
  line-height: 1.5;
  width: 215px;
  &__wrapper{
    display: flex;
    justify-content: center;
  }
  &__products-count{
    font-size: 10px;
    line-height: 1.5;
    color: #8C8C8C;
    padding-bottom: 6px;
    width: 100%;
  }
  &__products{
    display: flex;
    justify-content: flex-start;
    width: 160px;
    max-width: 160px;
    overflow: hidden;
    margin: auto;
  }
  &__products-box{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 0;
    transition: .5s ease;
  }
  &__product{
    width: 160px;
    min-width: 160px;
    min-height: 48px;
    display: flex;
    flex-direction: column;
  }
  &__logo{
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    &__wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 20px;
      border-radius: 5px;
      padding: 4px;
    }
    img{
      max-width: 62px;
      max-height: 62px;
    }
  }
  &__name{
    display: block;
    font-size: 10px;
    color: $body-color!important;
    padding-top: 2px;
    padding-bottom: 4px;
    user-select: none;
    margin-bottom: auto;
    margin-top: auto;
    max-height: 64px;
    overflow: auto;
  }
  &__sale{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    color: white;
    font-weight: 800;
    font-size: 12px;
    line-height: 1;
    background: $blog;
    border-radius: 15px 0;
    padding: 6px;
    &--present{
      padding: 0;
      width: 40px;
      border-radius: 11px 0;
    }
  }
  &__price{
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    color: #272727;
    font-weight: 800;
    font-size: 12px;
    line-height: 1;
    padding: 6px 7px 6px 6px;
    background: white;
    border-radius: 0 15px;
  }
  &__left, &__right{
    position: absolute;
    z-index: 3;
    background: url("/img/map/shivron.svg") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
    &.active{
      opacity: .7;
      pointer-events: auto;
      &:hover{
        opacity: 1;
      }
    }
  }
  &__left{
    left: 6px;
    transform: rotate(180deg) translateY(50%);
  }
  &__right{
    right: 6px;
    transform: translateY(-50%);
  }
}
