.modal-content{
  max-width: 800px;
  width: 100%;
  @media (max-width: 860px) {
    max-width: calc(100% - 60px);
  }
  @media (max-width: 480px) {
    max-width: calc(100% - 10px);
    padding: 15px;
    .category-icons{
      margin-right: -8px;
      margin-left: -8px;
    }
  }
  &.modal{
    &--login{
      max-width: 331px;
      box-shadow: 0px 3px 19px rgba(216, 216, 216, 0.7);
      border-radius: 15px;
      min-height: 400px;
      padding: 30px 19px;
    }
  }
}
