.navbar{

  &__container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: rem(21);
    padding-bottom: rem(21);
  }
  &__brand{
    position: relative;
    margin-top: -4px;
    margin-right: 10px;
    text-decoration: none!important;
    outline: none!important;
    box-shadow: none!important;
    color: $body-color!important;
    @include media-breakpoint-up(lg){
      margin-right: rem(25);
    }
    @include media-breakpoint-up(xl){
      margin-right: rem(51);
    }
    &__label{
      position: absolute;
      left: 0;
      bottom: 100%;
      margin-bottom: -2px;
      line-height: 1;
    }
  }
  &__full-logo{
    width: 263px;
    color: $primary;

  }
  &__nav{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.nav{
  &-link{
    color: $body-color;
    &:hover{
      color: $primary;
    }
  }
}
