.review{
  background: #FFFFFF;
  box-shadow: 0px 3px 11px rgba(216, 216, 216, 0.6);
  border-radius: 15px;
  padding: 12px;
  margin-bottom: 35px;
  &-login{
    padding: 28px;
  }
  &-header{
    padding: 16px 12px 12px;
    @include media-breakpoint-up(xs){
      padding: 16px 12px 28px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-body{
    padding: 12px 12px 22px;
    &__desc{
      @include media-breakpoint-down(sm){
        margin-bottom: 12px;
      }
      @include media-breakpoint-up(md){
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
        font-size: 18px;
      }
    }
    &__btn{
      @include media-breakpoint-down(sm){
        text-align: right;
      }
      @include media-breakpoint-up(md){
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        padding-left: 20px;
      }
    }
  }
  &--edit{
    margin-bottom: 60px;
    .review{
      &-header{
        padding: 16px 12px 28px;
        @include media-breakpoint-up(xs){
          padding: 16px 12px 28px;
        }
      }
      &-body{
        @include media-breakpoint-up(md){
          display: flex;
        }
        padding: 0 12px 0 0;

      }
    }
  }
}
