.sli{
  display: inline-block;
  cursor: pointer;
  color: $body-color;
  &--delete{
    &:hover, &.active{
      color: $danger;
    }
  }
  &--edit{
    &:hover, &.active{
      color: $primary;
    }
  }
  &--success{
    &:hover, &.active{
      color: $success;
    }
  }
}
