.thumbs-file-input {
  display: flex;
  padding-top: 21px;
  margin-right: 0;
  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    margin-right: -10px;
  }

  &__thumb {
    $width: 140px;
    $height: 50px;
    width: $width;
    min-width: $width;
    min-height: $height;
    margin-bottom: 21px;
    margin-right: 21px;
    @include media-breakpoint-down(xs) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
