body{
  .toast-alert{
    padding: rem(17) 2rem rem(19) 2rem;
    background: white;
    box-shadow: none;
    border-radius: 0 0 33px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 341px;
    min-height: 84px;
    @media (min-width: #{341 + 48 + 20}px) {
      min-width: 341px;
    }
    .toast-alert-title{
      font-family: 'mplus-1p', #{$font-family-sans-serif};
      font-weight: 700;
    }
    .toast-alert-text, .toast-alert-title{
      line-height: 1.5;
      color: white;
    }
    &--success{
      background: #8BC551;
      box-shadow: 0px 7px 17px rgba(139, 197, 81, 0.5);
    }
    &--warning{
      background: #FFC75B;
      box-shadow: 0px 7px 17px rgba(255, 199, 91, 0.5);
      color: #2B2B2B;
    }
    &--error{
      background: #FB5D5D;
      box-shadow: 0px 7px 17px rgba(255, 46, 0, 0.4);
    }
  }

}
