.organizations-edit{
  &__editor{
    .ql-editor.ql-blank::before{
      text-align: center;
    }
    .ql-editor{
      text-align: center;
      font-family: 'Montserrat', #{$font-family-sans-serif};
      font-size: 1rem;
      min-height: 106px;
    }
  }
}
