.orgs-show{
  &__social{
    text-align: center;
    @include media-breakpoint-up(md){
      margin-left: auto;
      $width: 214;
      width: #{$width}px;
      flex: 0 0 #{$width}px;
      max-width: #{$width}px;
      text-align: right;
    }
  }
  &__logo{
    $width: 283;
    $height: 117;
    width: #{$width}px;
    flex: 0 0 #{$width}px;
    max-width: #{$width}px;
    height: #{$height}px;
    border-radius: 15px;
    display: block;
    -webkit-box-flex: 0;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    //@include media-breakpoint-down(xxl){
    //  $width: 140;
    //  $height: 70;
    //  width: #{$width}px;
    //  flex: 0 0 #{$width}px;
    //  max-width: #{$width}px;
    //  height: #{$height}px;
    //}
    &__box {
      display: block;
      position: relative;
      border-radius: 15px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border: 1px dashed #B1B1B1;
      box-shadow: 0px 3px 11px rgba(216, 216, 216, 0.6);

      &__wrapper {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        min-width: 0;
        min-height: 0;
      }

      &.error-logo {
        background: white !important;

        .orgs-show__logo__box__wrapper {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
