

@each $theme, $themeValue in $themes {
  $theme-colors_: map_get($themeValue, "theme-colors");
  $btns-primary: map_get($themeValue, "btns-primary");
  @if($theme-colors_){
    .theme-#{$theme}{



      @each $color, $value in $theme-colors_ {
        @if($btns-primary && $color == 'primary'){
          .btn-#{$color} {
            @include button-variant($btns-primary, $btns-primary);
          }

          .btn-outline-#{$color} {
            @include button-outline-variant($btns-primary);
          }
        }
        @else {
          .btn-#{$color} {
            @include button-variant($value, $value);
          }

          .btn-outline-#{$color} {
            @include button-outline-variant($value);
          }
        }

        @include text-emphasis-variant(".text-#{$color}", $value);

        @include bg-variant(".bg-#{$color}", $value);

        .navbar__full-logo{
          color: $value;
        }

      }

      $primary_: map_get($theme-colors_, "primary");
      @if($primary_){

        //h1, h2, h3, h4, h5, a, label, div, p{
        //  &::selection {
        //    background: $primary_; /* Safari */
        //  }
        //  &::-moz-selection {
        //    background: $primary_; /* Firefox */
        //  }
        //}

        .select-ab{
          &__item{
            &:active, &.active{
              color: $primary_;
            }
          }
        }

        //Form
        .material-input{
          textarea, input{
            caret-color: $btns-primary;
            &:focus{
              border-color: $btns-primary;
              box-shadow: 0 0 0 0.1rem rgba($btns-primary, 0.5);
              ~{
                label{
                  color: $btns-primary;
                }
                .material-input__icon{
                  color: $btns-primary;
                }
              }
            }
          }
          &__line{
            &:before{
              background: $btns-primary;
            }
          }
        }

        //Links
        $link-color: $btns-primary;
        $link-hover-color: darken($link-color, 15%);
        a {
          &:not(.btn):not(.nav-link):not(.social-icon){
            color: $link-color;
            @include hover {
              color: $link-hover-color;
            }
          }
        }

        //Search Input
        .search-input{
          input{
            &:focus{
              ~{
                .search-input__lupe{
                  color: $btns-primary;
                }
              }
            }
          }
          &__line{
            &:before{
              background: $btns-primary;
            }
          }
        }

        .tag{
          &--edit{
            &.active{
              border-color: $btns-primary;
              background: $btns-primary;
            }
          }
        }

        .category-icon {
          &__wrapper{
            &:before{
              border-color: $btns-primary;
            }
          }
          &__img{
            &--active{
              background-color: $btns-primary;
            }
          }
        }
        .tab{
          color: $btns-primary;
          &:before{
            background: $btns-primary;
          }
        }

        .nav-burger{
          &:before, &:after{
            background: $primary_;
          }
        }

        .border-primary{
          border-color: $primary_ !important;
        }

        .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
          background: $primary_ !important;
          border-color: $primary_ !important;
        }

      }




    }
  }

  @if($theme-colors_){

    @if($btns-primary){

      .nav-link--#{$theme}{
        @include hover {
          color: $btns-primary;
        }
      }

      .navbar-fixed{
        .navbar{
          .nav-link--#{$theme}{
            @include hover {
              color: $btns-primary;
            }
          }
        }
      }

    }
  }
}
