

@each $theme, $themeValue in $themes {
  $theme-colors_: map_get($themeValue, "theme-colors");
  @if($theme-colors_){
    .theme-#{$theme}{



      @each $color, $value in $theme-colors_ {
        .btn-#{$color} {
          @include button-variant($value, $value);
        }

        .btn-outline-#{$color} {
          @include button-outline-variant($value);
        }

        @include text-emphasis-variant(".text-#{$color}", $value);

        @include bg-variant(".bg-#{$color}", $value);

        .navbar__full-logo{
          color: $value;
        }

      }

      $primary_: map_get($theme-colors_, "primary");
      @if($primary_){

        //Form
        .material-input{
          textarea, input{
            caret-color: $primary_;
            &:focus{
              border-color: $primary_;
              box-shadow: 0 0 0 0.1rem rgba($primary_, 0.5);
              ~{
                label{
                  color: $primary_;
                }
                .material-input__icon{
                  color: $primary_;
                }
              }
            }
          }
          &__line{
            &:before{
              background: $primary_;
            }
          }
        }

        //Links
        $link-color: $primary_;
        $link-hover-color: darken($link-color, 15%);
        a {
          &:not(.btn):not(.nav-link):not(.social-icon){
            color: $link-color;
            @include hover {
              color: $link-hover-color;
            }
          }
        }

        //Search Input
        .search-input{
          input{
            &:focus{
              ~{
                .search-input__line{
                  color: $primary_;
                }
              }
            }
          }
          &__line{
            &:before{
              background: $primary_;
            }
          }
        }

        .tag{
          &--edit{
            &.active{
              border-color: $primary_;
              background: $primary_;
            }
          }
        }

        .category-icon {
          &__wrapper{
            &:before{
              border-color: $primary_;
            }
          }
          &__img{
            &--active{
              background-color: $primary_;
            }
          }
        }
        .tab{
          color: $primary_;
          &:before{
            background: $primary_;
          }
        }


      }




    }
  }

  @if($theme-colors_){

    $primary_: map_get($theme-colors_, "primary");
    @if($primary_){

      .nav-link--#{$theme}{
        @include hover {
          color: $primary_;
        }
      }

    }
  }
}
