@keyframes blk{
  50%{
    border-left-color: transparent;
  }
  51%{
    border-left-color: white;
  }
  100%{
    border-left-color: white;
  }
}
.dynamic-input{
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  height: rem(37);
  background: #FF2E00;
  color: transparent;
  padding: 0 17px;
  min-width: 65px;
  &__box{
    position: absolute;
    left: 13px;
    right: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
      color: white;
      width: 100%;
      line-height: 1;
      border: 0;
      padding: 0;
      background: transparent;
      outline: none!important;
      border-left: 2px solid transparent;
      &:not(:focus):invalid{
        animation: blk 1s linear infinite;
      }

    }
  }
}
