.material-input{
  position: relative;
  margin: 2rem 0 .5rem 0;
  textarea, input{
    width: 100%;
    border: 1px dashed #929292;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
    line-height: 1;
    outline: none!important;
    color: $body-color;
    caret-color: $edit-color;
    &:hover, &:focus{
      border-style: solid;
    }
    &:focus{
      border-color: $edit-color;
      box-shadow: 0 0 0 0.1rem rgba($edit-color, 0.5);
      ~{
        label{
          color: $edit-color;
        }
        .material-input__icon{
          color: $edit-color;
        }
      }
    }
    &:focus, &:valid{
      ~{
        label{
          top: -1.6rem;
          padding: 4px;
          font-size: 80%;

        }
      }
    }
    &.is-invalid{
      border-color: $danger!important;
      ~ {
        .invalid-feedback{
          display: block;
        }
      }
    }
  }
  textarea{
    padding: 20px;
    line-height: $line-height-base;
    ~{
      label{
        padding: 20px;
      }
    }
  }
  label{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 5px 28px 5px 12px;
    color: $input-placeholder-color;
    pointer-events: none;
    transition: .2s ease;
    font-size: 1rem;
    width: 100%;
  }
  &[data-align="left"]
  {
    textarea, input, label{
      text-align: left;
    }
  }
  &[data-align="right"]
  {
    textarea, input, label{
      text-align: right;
    }
  }
  &[data-align="center"]
  {
    textarea, input, label{
      text-align: center;
    }
  }
  &__line{
    display: none;
    position: relative;
    width: 100%;
    height: 1px;
    background: #BBBBBB;
    &:before{
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      right: 50%;
      width: 0;
      height: 3px;
      background: $edit-color;
      transition: .2s ease;
    }
  }
  &--inline{
    margin: 1.3rem 0 .5rem 0;

    .material-input__line{
      display: block;
    }
    textarea, input{
      border-radius: 0;
      background: transparent;
      border: none!important;
      padding-left: 0;
      padding-right: 0;
      box-shadow: none!important;
      font-weight: 600;
      font-size: 20px;
      &:focus{
        ~{
          label{
            color: $edit-color;
          }
          .material-input__line{
            &:before{
              left: 0;
              right: 0;
              width: 100%;
            }
          }
        }
      }
      &:focus, &:valid{
        ~{
          label{
            top: -1rem;
            padding: 0 2px 0 2px;
          }
        }
      }
      &.is-invalid{
        ~ {
          .material-input__line{
            background: $danger!important;
          }
        }
      }
    }
    label{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

