.products-edit {
  &__caption{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FF2E00;
    padding: 10px 14px;
    width: 260px;
    border-radius: 15px 0 0 0;
    color: white;
    @include media-breakpoint-up(sm){
      width: 310px;
    }
    input{
      font-size: 14px;
      font-weight: 400;
      padding: 4px 8px;
      border: 1px solid white;
      border-radius: 5px;
      line-height: 1;
      color: white;
      width: 100%;
      background: transparent;
      outline: none !important;
      @include media-breakpoint-up(sm){
        padding: 5px 10px;
        font-size: 1rem;
      }
    }
    .invalid-feedback{
      text-align: center;
      font-size: 12px;
      background: white;
      border-radius: 5px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  &__label {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    left: auto;
    border-radius: 0 0 0 1.2em;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    background: $blog;
    overflow: hidden;
    padding: 0 36px;
    height: 72px;
    line-height: 1;
    color: white;
    @include media-breakpoint-down(lg) {
      font-size: 1.2rem;
      height: 50px;
      padding: 0px 20px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
      height: 40px;
      padding: 0px 18px;
    }
    @include media-breakpoint-down(xxs){
      padding: 0px 6px;
    }
    &--present{
      padding: 0!important;
      height: auto!important;
      width: 123px;
      @include media-breakpoint-between(lg,lg){
        width: 80px;
      }
      @include media-breakpoint-down(md){
        width: 100px;
      }
      @include media-breakpoint-down(sm){
        width: 60px;
      }
    }
    .dynamic-input {
      font-size: 24px;
      font-weight: 700;
      height: 100%;
      min-width: 100px;
      padding: 5px 22px;
      @include media-breakpoint-down(lg) {
        font-size: 1.2rem;
        min-width: 80px;
        padding: 5px 20px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
        min-width: 70px;
        padding: 5px 18px;
      }
      @include media-breakpoint-down(xxs){
        span{
          display: none;
        }
      }
      &__box {
        left: 10px;
        right: 10px;
        top: 50%;
        bottom: auto;
        transform-origin: center;
        transform: translateY(-50%);

        input {
          font-size: 24px;
          font-weight: 700;
          padding: 5px 10px;
          border: 2px dashed white;
          animation: none !important;
          border-radius: 5px;
          line-height: 1;
          @include media-breakpoint-down(lg) {
            font-size: 1.2rem;
            padding: 3px 8px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 1rem;
            padding: 3px 6px;
            border: 1px dashed white;
          }

          &:hover, &:focus {
            border-style: solid;
          }
        }
      }
    }
  }
  &__currency-svg{
    cursor: pointer;
    display: inline-block;
    color: #A90000;
    line-height: 1;
    font-size: 8px;
    text-align: center;
    transition: .2s;
    margin-left: 10px;
    @include media-breakpoint-down(xxs){
      margin-left: 5px;
    }
    svg{
      font-size: 33px;
      margin-bottom: 2px;
      display: inline-block;
      @include media-breakpoint-down(sm){
        font-size: 20px;
      }
    }
    &.active{
      color: white;
    }
  }
  &__editor {
    .ql-editor.ql-blank::before {
      color: #949494;
      font-size: 16px;
      line-height: 1.5;
      left: 25px;
      right: 25px;
    }

    .ql-editor {
      font-family: 'Open Sans', #{$font-family-sans-serif};
      font-size: 1rem;
      min-height: 271px;
    }

    .quill-editor {
      border: 1px solid #CACACA;
      border-radius: 5px;

      strong {
        font-weight: 600;
      }

      ul, ul > li {
        padding-left: 0;
      }
      ul > li::before{
        font-size: 1.6em;
        color: $primary;
        line-height: 1;
        position: relative;
        top: .15em;
      }
    }

    .ql-editor {
      padding-left: 25px;
      padding-right: 25px;
    }

    .ql-toolbar {
      border: none;
      border-radius: 0;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 0;
      button{
        background: #FFFFFF;
        box-shadow: 0px 3px 11px rgba(216, 216, 216, 0.6);
        border-radius: 15px;
        padding: 5px 11px;
        width: 46px;
        height: 38px;
        margin-right: 11px;
        margin-bottom: 9px;
        transition: .2s;
        position: relative;
        top: 0;
        svg{
          display: inline-block;
          float: none;
          width: 100%;
          line-height: 1;
        }
        &.ql-active{
          top: 2px;
          box-shadow: 0 1px 1px rgba(216, 216, 216, 0.6);
        }
      }

    }

    .ql-container {
      border: none;
      border-radius: 0;
    }
  }
}
