@import "./show";
@import "./edit";


.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.categories-modal{
  background: #FFFFFF;
  box-shadow: 0px 3px 11px rgba(216, 216, 216, 0.6);
  border-radius: 15px;
  max-width: 1200px;
}
.theme-default{
  .modal-backdrop{
    background-color: rgba(0, 34, 52, 0.33);
  }
}
