@import "./show";
@import "./edit";


.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.categories-modal{
  background: #FFFFFF;
  box-shadow: 0px 3px 11px rgba(216, 216, 216, 0.6);
  border-radius: 15px;
  max-width: 1200px;
}
.theme-default{
  .modal-backdrop{
    background-color: rgba(0, 34, 52, 0.33);
  }
}
.loading-list{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  background: rgba(255, 255, 255, 0.7);
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s, visibility 0s linear .3s;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 46px;
    margin-left: -24px;
    margin-top: -23px;
    background: url("/placeholders/fav.svg") center no-repeat;
    animation: spinAround 700ms infinite ease;
  }
  &.active{
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}
