@import "./functions";

// Bootstrap
$font-size-base: 1rem;

$line-height-base: 1.5;

$body-color: #272727;

$headings-font-weight: 400;

$border-radius: 5px;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius;
$input-border-radius-sm: $border-radius;

$edit-color: #7F00FF;
$primary: #00C2FF;
$input-placeholder-color: #4D4D4D;

$themes: (
    "default": (
        "theme-colors": (
            "primary": $primary,
        )
    ),
    "edit": (
        "theme-colors": (
            "primary": $edit-color,
        )
    )
);

// // Body
$body-bg: #FBFBFB;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

