@import "./functions";

// Bootstrap
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xxs: 0,
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$font-size-base: 1rem;

$line-height-base: 1.5;

$body-color: #272727;

$headings-font-family:        'Montserrat', #{$font-family-sans-serif};
$headings-font-weight:        600;
$headings-color:              #000;

$btn-font-size-sm: 1rem;

$btn-padding-y: 0.782rem;
$btn-padding-x: 1.94rem;
$btn-padding-y-sm: 0.282rem;
$btn-padding-x-sm: 1.38rem;


$btn-border-radius: 3rem;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

$border-radius: 5px;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius;
$input-border-radius-sm: $border-radius;

$business: #7F00FF;
$blog: #FF2E00;
$primary: #00C2FF;
$secondary: #E4E4E4;
$danger: #F41818;
$input-placeholder-color: #4D4D4D;
$themes: (
    "default": (
        "theme-colors": (
            "primary": $primary,
        )
    ),
    "business": (
        "theme-colors": (
            "primary": $business,
        )
    ),
    "blog": (
        "theme-colors": (
            "primary": $blog,
        )
    )
);

// // Body
$body-bg: #FBFBFB;

// Cards
$card-color: #8C8C8C;
$card-spacer-x: rem(23);
$card-spacer-y: rem(15);
$card-cap-bg: white;

// Borders
$border-radius: rem(15);
//$border-radius-lg: .2rem;
//$border-radius-sm: .15rem;

// Nav Pills
//$nav-pills-border-radius: 0;

// Breadcrumbs

$breadcrumb-padding-y:              .75rem;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           .5rem;

$breadcrumb-margin-bottom:          1rem;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $body-color;
$breadcrumb-active-color:           $body-color;
$breadcrumb-divider:                quote(">");

$breadcrumb-border-radius:          0;


$nav-link-padding-y:                .5rem;
$nav-link-padding-x:                rem(14);
